.description {

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        // column-gap: 10px;
        padding: 20px 10px;
        flex-wrap: wrap;
    }

    &__background {
        overflow: hidden;
        background-color: $backgroundColor;
    }

    &__button {
        padding: 9px 26px;
        background: $backgroundColor; 
        border: 2px solid $textColor;
        border-radius: 40px;
    }

    &__more {
        color: $textColor;
    }

    &__text {
        margin-bottom: 50px;
        color: $textColor;
    }

    &__circle1 {
        margin: -100px 0;
        background: rgba(255, 255, 255, 0.3);;
        border-radius: 50%; 
        padding: 70px;
    }

    &__circle2 {
        background: rgba(255, 255, 255, 0.4);;
        border-radius: 50%; 
    }
}

@media (max-width: 1000px) {

    .description {

        &__text {
            text-align: center;
            margin-bottom: 20px;
        }

        // &__button {
        //     position: relative;
        //     z-index: 2;
        //     border-color: $backgroundColor;
        //     background: transparent;
        // }

        // &__more {
        //     position: relative;
        //     color: $backgroundColor;
        // }
    }
}