.footer {

    &__container {
        display: block;
    }

    &__right {
        display: flex;
        align-items: center;
        column-gap: 40px;
    }

    &__top {
        padding: 37px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__bottom {
        background: $borderColor;
        padding: 25px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.social-icons {

    &__list {
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: centers;
    }
}