.footer {

    &__container {
        display: block;
    }

    &__right {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 40px;
    }

    &__top {
        padding: 37px 10px;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    &__background {
        background: $borderColor;
    }

    &__bottom {
        padding: 25px 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__tel {
        white-space: nowrap;
    }
}

.social-icons {

    &__list {
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: centers;
    }
}

@media (max-width: 770px) {

    .footer {

        &__right {
            gap: 10px;
        }
    }
}