.header {

    &__background {
        background: $accentColor;
    }

    &__border {
        border-bottom: 1px solid $borderColor;
    }

    &__middle {
        padding: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 40%;
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    &__contacts {
        display: flex;
        align-items: center;
        column-gap: 40px;
    }

    &__tel {
        white-space: nowrap;
    }
}

.menu {

    width: 100%;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 30px;
        padding: 16px 10px;
        row-gap: 10px;
    }

    &__item {
        white-space: nowrap;
    }

    &__background {
        background: $textColor;
    }
}

.button {
    padding: 12px 26px;
    background: $textColor;
    border: 2px solid $backgroundColor;
    border-radius: 40px;
}