.news {

    &__container {
        padding-bottom: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 40px;
        row-gap: 10px;
        padding: 10px 20px;
        padding-bottom: 130px;
    }

    &__background {
        background: $borderColor;
    }

    &__block {
        display: flex;
        column-gap: 60px;
        align-items: center;
        justify-content: center;
        background: $backgroundColor;
        padding: 40px;
        // width: 50%;
        // height: 40vh;
        width: 100%;
        height: 212px;

        &--left {
            justify-content: start;
        }
    }

    &__text {
        margin-bottom: 25px;
        color: $textColor;
    }

    &__input {
        padding: 9px 0 9px 25px;
        border: none;
        border-radius: 30px;
        width: 100%;
    }
}

input {

    &::-webkit-input-placeholder { font-family: $baseFont;}
    &::-moz-placeholder { font-family: $baseFont;}
    &:-ms-input-placeholder { font-family: $baseFont;}
    &:-moz-placeholder { font-family: $baseFont;}
}

@media (max-width: 1000px) {

    .news {

        &__container {
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 60px;
        }

        &__block {
            // height: 25vh;
            justify-content: center;
            width: 90%;
        }

        &__text {
            text-align: center;
        }
    }
}

@media (max-width: 770px) {

    .news {

        &__block {
            flex-wrap: wrap;
            padding: 20px;
            height: 100%;
        }
    }
}